/* colors */
$background-grey: #F8F8FA;
$background-white: #FFFF;
$background-hover: #F4F4F5;

$color-grey: #6B6A7A;
$color-pink: #B31D76;

/* spacings */
$spacings-small: 0.5rem;
$spacings-base: 1rem;
$spacings-large: 2rem;

/* typography */
$font-size-base: 14px;